{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.callcount > 0 %}
        {% set profiler_markup_version = profiler_markup_version|default(1) %}

        {% set icon %}
            {% if profiler_markup_version == 1 %}
                <img width="20" height="28" alt="Database" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC" />
                <span class="sf-toolbar-status{% if 50 < collector.callcount %} sf-toolbar-status-yellow{% endif %}">{{ collector.callcount }}</span>
                {% if collector.callcount > 0 %}
                    <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.time * 1000) }} ms</span>
                {% endif %}
            {% else %}
                    {% set status = collector.callcount > 50 ? 'yellow' %}

                    {{ include('@DoctrinePHPCR/Collector/icon.svg') }}

                    <span class="sf-toolbar-value">{{ collector.callcount }}</span>
                    <span class="sf-toolbar-info-piece-additional-detail">
                        <span class="sf-toolbar-label">in</span>
                        <span class="sf-toolbar-value">{{ '%0.2f'|format(collector.time * 1000) }}</span>
                        <span class="sf-toolbar-label">ms</span>
                    </span>
            {% endif %}
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>PHPCR Calls</b>
                <span class="sf-toolbar-status">{{ collector.callcount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Call time</b>
                <span>{{ '%0.2f'|format(collector.time * 1000) }} ms</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status|default('') }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    {% set profiler_markup_version = profiler_markup_version|default(1) %}

    {% if profiler_markup_version == 1 %}
        <span class="label">
            <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAABLUlEQVR42u3TP0vDQBiA8UK/gDiLzi0IhU4OEunk5OQUAhGSOBUCzqWfIKSzX8DRySF0URCcMjWLIJjFD9Cpk/D6HITecEPUuzhIAz8CIdyTP/f2iqI4qaqqDx8l5Ic2uIeP/bquezCokOAFF+oCN3t4gPzSEjc4NEPaCldQbzjELTYW0RJzHDchwwem+ons6ZBpLSJ7nueJC22h0V+FzmwWV0ee59vQNV67CGVZJmEYbkNjfpY6X6I0Qo4/3RMmTdDDspuQVsJvgkP3IdMbIkIjLPBoadG2646iKJI0Ta2wxm6OdnP0/Tk6DYJgHcfxpw21RtscDTDDnaVZ26474GkkSRIrrPEv5sgMTfHe+cA2O6wPH6vOBpYQNALneHb96XTEDI6dzpEZ0VzO0Rf3pP5LMLI4tAAAAABJRU5ErkJggg==" alt="" /></span>
            <strong>PHPCR</strong>
            <span class="count">
                <span>{{ collector.callcount }}</span>
                <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
            </span>
        </span>
    {% else %}
        <span class="label {{ collector.callcount == 0 ? 'disabled' }}">
            <span class="icon">{{ include('@DoctrinePHPCR/Collector/icon.svg') }}</span>
            <strong>PHPCR</strong>
        </span>
    {% endif %}
{% endblock %}

{% block panel %}
    <h2>Calls</h2>

    {% for connection, calls in collector.calls %}
        {% if collector.connections|length > 1 %}
            <h3>Connection <em>{{ connection }}</em></h3>
        {% endif %}

        {% if calls is empty %}
            <div class="empty">
                <p>No calls.</p>
            </div>
        {% else %}
            <table class="alt" id="callsPlaceholder-{{ loop.index }}">
                <thead>
                <tr>
                    <th onclick="javascript:sortTable(this, 0, 'queries-{{ loop.index }}')" data-sort-direction="-1" style="cursor: pointer;">#<span>&#9650;</span></th>
                    <th onclick="javascript:sortTable(this, 1, 'queries-{{ loop.index }}')" style="cursor: pointer;">Time<span></span></th>
                    <th style="width: 100%;">Info</th>
                </tr>
                </thead>
                <tbody id="queries-{{ loop.index }}">
                {% for i, call in calls %}
                    <tr id="queryNo-{{ i }}-{{ loop.parent.loop.index }}" class="{{ cycle(['odd', 'even'], i) }}">
                        <td>{{ loop.index }}</td>
                        <td class="nowrap">{{ '%0.2f'|format(call.executionMS * 1000) }}&nbsp;ms</td>
                        <td>
                            {{ call.method|raw }}<br>

                            <strong class="font-normal text-small">Parameters:</strong>
                            {{ call.params|yaml_encode }} <br>
                            <strong class="font-normal text-small">Environment:</strong>
                            {{ call.env|yaml_encode }} <br>
                            {% if call.caller is defined %}
                                <strong class="font-normal text-small">Callers</strong>
                                <ul>
                                    {% for caller in call.caller %}
                                        <li> - {{ caller }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

    <h2>Database Connections</h2>

    {% if collector.connections %}
        {% include 'WebProfilerBundle:Profiler:table.html.twig' with {data: collector.connections} only %}
    {% else %}
        <div class="empty">
            <p>No connections.</p>
        </div>
    {% endif %}

    <h2>Document Managers</h2>

    {% if collector.managers %}
        {% include 'WebProfilerBundle:Profiler:table.html.twig' with {data: collector.managers} only %}
    {% else %}
        <div class="empty">
            <p>No document managers.</p>
        </div>
    {% endif %}

    <h2>Document Mapping</h2>

    {% for manager, classes in collector.documents %}
        {% if collector.managers|length > 1 %}
            <h3>Manager <small>{{ manager }}</small></h3>
        {% endif %}

        {% if classes is empty %}
            <div class="empty">
                <p>No loaded documents.</p>
            </div>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">Class</th>
                    </tr>
                </thead>

                <tbody>
                {% for class in classes %}
                    <tr>
                        <td>{{ class }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}
